body {
    background-color: #182422;
    color: white;
    
    font-family: "Changa", sans-serif;
}

main {
    width: 70%;
    float: right;
    text-align: center;
}

.btn {
    color: white;
}

.lateral {
    height: 100%;
    width: 30%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    box-shadow: 0 0px 4px 0 #00000033, 0 0px 20px 0 rgba(0, 0, 0, 0.19); 
}

.divtitulo {
    padding: 1em;
    text-align: center;
}

.divlink {
    display: block;
    padding: 1vh;
}

.lateral a {
    color: #818181;

    font-size: 4vh;
    text-decoration: none;

    display: inline;
    padding-left: 1vh;
}

.lateral i {
    font-size: 4vh;
    color: #818181;
    margin-top: 0px;
}

.divlink:hover a {
    color: white;
}

.divlink:hover i{
    color: white;
}

.active {
    background-color: #b38f00;
}

.active a {
    color: white;
}

.active i {
    color: white;
}

.subtitulo {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 0.5em;
}

.container-padrao {
    width: 60%;
    margin: auto auto 4vh;
    border: 4px solid #b38f00;
    border-radius: 2.5%;
    text-align: center;
}

.holder-img {
    font-size: 8em;
    display: inline-block;
    padding: 0.25em;
}

.container-padrao ul {
    list-style-type: none;
    display: inline-block;
}

ul {
    list-style-type: none;
    margin-bottom: 0;
    padding-left: 0;
}

.container-padrao li {
    display: block;
    font-size: 2em;
}

.container-busca {
    padding: 1em;
    font-size: 1.5em;
}

.container-busca label {
    margin-top: 1em;
    margin-right: 0.5em;
}

.form-group {
    width: 30%;
    display: inline-block;
}

.input-busca {
    margin-bottom: 1em;
}

.botao-busca {
    margin: auto;
    margin-top: 1em;
    font-size: 1.25em;
    display: block;
}

.botao-editar {
    display: block;
    margin: auto auto 1em;
}

.btn-primary {
    background-color: #111;
    border: #111;
}

.dados-equipe {
    padding-top: 1em;
    margin-bottom: 0;
}

.nova-equipe {
    width: 50%;
    display: flex;
    justify-content: space-around;
    vertical-align: middle;
}

.nova-equipe i {
    font-size: 8em;
    padding: 0.25em;
}

.nova-equipe a {
    height: 100%;
    font-size: 2em;
    margin: auto 0;
}

.dados-conta {
    font-size: 2em;
    margin: 2em;
}

.dados-conta li {
    padding: 0.5em;
}

.titulo {
    font-size: 4em;
    text-align: center;
    padding-top: 0.5em;
}

.div-form {
    margin: auto;
    width: 60%;
    font-size: 2em;

    padding-top: 1em;
}

.login-dados input {
    border: none;
    border-bottom: 2px solid white;
    background-color: #182422;
    color: white;
    padding-left: 0.5em;
    width: 100%;
}

.login-dados label {
    padding-top: 1em;
}

.pos-form {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
}

.pos-form div {
    display: inline-block;
}

.botao-login {
    margin-left: 1em;
}

.container-cadastre {
    text-align: center;
    padding-top: 2em;
}

.container-busca-equipes {
    width: 30%;
    display: inline-block;
}

.container-busca-equipes a {
    margin-bottom: 1em;
}

.dados-editar-equipe {
    display: inline-block;
    width: 60%;
    border: 1px solid white;
    padding: 1em;
    padding-top: 1.5em;
    font-size: 1.5em;
    margin-right: 0.5em;
}

.dados-editar-equipe label {
    margin-right: 0.5em;
}

.botoes-editar-equipe a{
    margin: 1em 0.5em 0 0.5em;
    font-size: 1.5em;
}

.card {
    background-color: #182422;
    font-size: 1.5em;
}

.card label {
    margin-right: 0.5em;
}

.dados-editar-usuario {
    display: inline-block;
    width: 60%;
    border: 1px solid white;
    padding: 1em;
    padding-top: 1.5em;
    font-size: 1.5em;
    margin-bottom: 1em;
}

.dados-editar-usuario input {
    margin: 0.5em;
}

.atualizar-usuario {
    font-size: 2em;
    margin-bottom: 2em;
}

.deletar-conta {
    margin-bottom: 1.5em;;
}